source https://www.nuget.org/api/v2

nuget FSharp.Core

nuget Chessie
nuget FAKE
nuget FsUnit
nuget Fulma 1.0.0-beta-005
nuget Fulma.Extensions
nuget Microsoft.NET.Test.Sdk
nuget Newtonsoft.Json
nuget NUnit.Console
nuget Microsoft.Extensions.Logging.Console
nuget NUnit3TestAdapter
nuget System.Net.NetworkInformation

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.JsonConverter

nuget Suave
nuget jose-jwt

nuget dotnet-test-nunit

clitool dotnet-fable
