source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget FSharp.NET.Sdk

nuget Chessie
nuget FAKE
nuget FsUnit
nuget NUnit.Console

nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger

clitool dotnet-fable